In [2]:
%tensorflow_version 1.x

TensorFlow 1.x selected.

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import pandas as pd
import tensorflow as tf
import keras

Using TensorFlow backend.

In [0]:
from keras.models import Sequential
from keras.layers import Dense

In [6]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
print(train.shape, test.shape)

(891, 12) (418, 11)

In [7]:
train.info()   # Age, Cabin, Embarked : 결측치 있어서 처리해줘야 하지만 신경망이 목적이기 때문에 결측치 없는 변수만 선택해서 진행

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [0]:
input_col = ['Pclass','SibSp','Parch']
labeled_col = ['Survived']

In [0]:
X = train[input_col]
y = train[labeled_col]
X_val = test[input_col]

In [0]:
seed = 0
np.random.seed(seed)
tf.set_random_seed(seed)

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

## **딥러닝 구조 만들기**

**모델 설정**

In [15]:
model = Sequential()
model.add(Dense(30, input_dim=3, activation='relu'))
model.add(Dense(15, activation='relu'))
model.add(Dense(1, activation='sigmoid'))   # sigmoid함수는 0~1 사이의 값으로 예측해줌

WARNING:tensorflow:From /tensorflow-1.15.2/python3.6/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

**학습**

In [16]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=100, batch_size=10)

WARNING:tensorflow:From /tensorflow-1.15.2/python3.6/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/100
668/668 [==============================] - 0s 589us/step - loss: 0.6540 - accuracy: 0.6003
Epoch 2/100
668/668 [==============================] - 0s 114us/step - loss: 0.6343 - accuracy: 0.6138
Epoch 3/100
668/668 [==============================] - 0s 135us/step - loss: 0.6294 - accuracy: 0.6138
Epoch 4/100
668/668 [==============================] - 0s 117us/step - loss: 0.6244 - accuracy: 0.6138
Epoch 5/100
668/668 [==============================] - 0s 117us/step - loss: 0.6212 - accuracy: 0.6287
Epoch 6/100
668/668 [==============================] - 0s 124us/step - loss: 0.6171 - accuracy: 0.6317
Epoch 7/100
668/668 [==============================] - 0s 126us/step - loss: 0.6141 - accuracy: 0.6512
Epoch 8/100
668/668 [==============================] - 0s 119us/step - loss: 0.6117 - accuracy: 0.6527
Epoch 9/100
668/668 [==============================] - 0s 120us/step - loss: 0.6094 - accuracy: 0.6602
Epoch 10/100
668/668 [==============================] - 0s 118us/step - loss: 0.6077 - accuracy: 0.6856
Epoch 11/100
668/668 [==============================] - 0s 119us/step - loss: 0.6049 - accuracy: 0.6841
Epoch 12/100
668/668 [==============================] - 0s 122us/step - loss: 0.6027 - accuracy: 0.6856
Epoch 13/100
668/668 [==============================] - 0s 114us/step - loss: 0.6007 - accuracy: 0.6856
Epoch 14/100
668/668 [==============================] - 0s 116us/step - loss: 0.5977 - accuracy: 0.6751
Epoch 15/100
668/668 [==============================] - 0s 120us/step - loss: 0.5990 - accuracy: 0.6871
Epoch 16/100
668/668 [==============================] - 0s 117us/step - loss: 0.5950 - accuracy: 0.6946
Epoch 17/100
668/668 [==============================] - 0s 118us/step - loss: 0.5938 - accuracy: 0.6916
Epoch 18/100
668/668 [==============================] - 0s 123us/step - loss: 0.5921 - accuracy: 0.6961
Epoch 19/100
668/668 [==============================] - 0s 127us/step - loss: 0.5911 - accuracy: 0.6886
Epoch 20/100
668/668 [==============================] - 0s 120us/step - loss: 0.5916 - accuracy: 0.6946
Epoch 21/100
668/668 [==============================] - 0s 118us/step - loss: 0.5915 - accuracy: 0.6916
Epoch 22/100
668/668 [==============================] - 0s 154us/step - loss: 0.5918 - accuracy: 0.7036
Epoch 23/100
668/668 [==============================] - 0s 118us/step - loss: 0.5881 - accuracy: 0.6976
Epoch 24/100
668/668 [==============================] - 0s 116us/step - loss: 0.5878 - accuracy: 0.7051
Epoch 25/100
668/668 [==============================] - 0s 122us/step - loss: 0.5890 - accuracy: 0.6961
Epoch 26/100
668/668 [==============================] - 0s 124us/step - loss: 0.5859 - accuracy: 0.6976
Epoch 27/100
668/668 [==============================] - 0s 119us/step - loss: 0.5873 - accuracy: 0.6931
Epoch 28/100
668/668 [==============================] - 0s 116us/step - loss: 0.5852 - accuracy: 0.7006
Epoch 29/100
668/668 [==============================] - 0s 126us/step - loss: 0.5850 - accuracy: 0.7036
Epoch 30/100
668/668 [==============================] - 0s 117us/step - loss: 0.5836 - accuracy: 0.6991
Epoch 31/100
668/668 [==============================] - 0s 127us/step - loss: 0.5833 - accuracy: 0.7066
Epoch 32/100
668/668 [==============================] - 0s 123us/step - loss: 0.5828 - accuracy: 0.7036
Epoch 33/100
668/668 [==============================] - 0s 118us/step - loss: 0.5829 - accuracy: 0.7006
Epoch 34/100
668/668 [==============================] - 0s 117us/step - loss: 0.5821 - accuracy: 0.7051
Epoch 35/100
668/668 [==============================] - 0s 119us/step - loss: 0.5816 - accuracy: 0.6991
Epoch 36/100
668/668 [==============================] - 0s 123us/step - loss: 0.5831 - accuracy: 0.7021
Epoch 37/100
668/668 [==============================] - 0s 119us/step - loss: 0.5825 - accuracy: 0.7006
Epoch 38/100
668/668 [==============================] - 0s 118us/step - loss: 0.5808 - accuracy: 0.6931
Epoch 39/100
668/668 [==============================] - 0s 117us/step - loss: 0.5788 - accuracy: 0.7021
Epoch 40/100
668/668 [==============================] - 0s 118us/step - loss: 0.5807 - accuracy: 0.6961
Epoch 41/100
668/668 [==============================] - 0s 117us/step - loss: 0.5809 - accuracy: 0.7036
Epoch 42/100
668/668 [==============================] - 0s 133us/step - loss: 0.5807 - accuracy: 0.7051
Epoch 43/100
668/668 [==============================] - 0s 124us/step - loss: 0.5795 - accuracy: 0.6976
Epoch 44/100
668/668 [==============================] - 0s 126us/step - loss: 0.5799 - accuracy: 0.6976
Epoch 45/100
668/668 [==============================] - 0s 122us/step - loss: 0.5787 - accuracy: 0.7006
Epoch 46/100
668/668 [==============================] - 0s 118us/step - loss: 0.5785 - accuracy: 0.7021
Epoch 47/100
668/668 [==============================] - 0s 119us/step - loss: 0.5783 - accuracy: 0.7066
Epoch 48/100
668/668 [==============================] - 0s 119us/step - loss: 0.5780 - accuracy: 0.7066
Epoch 49/100
668/668 [==============================] - 0s 117us/step - loss: 0.5771 - accuracy: 0.7051
Epoch 50/100
668/668 [==============================] - 0s 117us/step - loss: 0.5780 - accuracy: 0.6991
Epoch 51/100
668/668 [==============================] - 0s 126us/step - loss: 0.5780 - accuracy: 0.7066
Epoch 52/100
668/668 [==============================] - 0s 121us/step - loss: 0.5783 - accuracy: 0.6976
Epoch 53/100
668/668 [==============================] - 0s 119us/step - loss: 0.5763 - accuracy: 0.7081
Epoch 54/100
668/668 [==============================] - 0s 122us/step - loss: 0.5791 - accuracy: 0.7051
Epoch 55/100
668/668 [==============================] - 0s 131us/step - loss: 0.5778 - accuracy: 0.7096
Epoch 56/100
668/668 [==============================] - 0s 127us/step - loss: 0.5779 - accuracy: 0.7051
Epoch 57/100
668/668 [==============================] - 0s 123us/step - loss: 0.5764 - accuracy: 0.6991
Epoch 58/100
668/668 [==============================] - 0s 121us/step - loss: 0.5787 - accuracy: 0.6901
Epoch 59/100
668/668 [==============================] - 0s 115us/step - loss: 0.5770 - accuracy: 0.6991
Epoch 60/100
668/668 [==============================] - 0s 118us/step - loss: 0.5781 - accuracy: 0.7051
Epoch 61/100
668/668 [==============================] - 0s 126us/step - loss: 0.5761 - accuracy: 0.7096
Epoch 62/100
668/668 [==============================] - 0s 118us/step - loss: 0.5781 - accuracy: 0.7066
Epoch 63/100
668/668 [==============================] - 0s 122us/step - loss: 0.5771 - accuracy: 0.6886
Epoch 64/100
668/668 [==============================] - 0s 128us/step - loss: 0.5760 - accuracy: 0.7096
Epoch 65/100
668/668 [==============================] - 0s 119us/step - loss: 0.5755 - accuracy: 0.7081
Epoch 66/100
668/668 [==============================] - 0s 118us/step - loss: 0.5752 - accuracy: 0.7171
Epoch 67/100
668/668 [==============================] - 0s 133us/step - loss: 0.5752 - accuracy: 0.7081
Epoch 68/100
668/668 [==============================] - 0s 118us/step - loss: 0.5745 - accuracy: 0.6991
Epoch 69/100
668/668 [==============================] - 0s 118us/step - loss: 0.5763 - accuracy: 0.7096
Epoch 70/100
668/668 [==============================] - 0s 131us/step - loss: 0.5752 - accuracy: 0.7066
Epoch 71/100
668/668 [==============================] - 0s 119us/step - loss: 0.5753 - accuracy: 0.7096
Epoch 72/100
668/668 [==============================] - 0s 116us/step - loss: 0.5761 - accuracy: 0.6961
Epoch 73/100
668/668 [==============================] - 0s 120us/step - loss: 0.5766 - accuracy: 0.7051
Epoch 74/100
668/668 [==============================] - 0s 115us/step - loss: 0.5764 - accuracy: 0.7081
Epoch 75/100
668/668 [==============================] - 0s 120us/step - loss: 0.5753 - accuracy: 0.7051
Epoch 76/100
668/668 [==============================] - 0s 123us/step - loss: 0.5742 - accuracy: 0.7051
Epoch 77/100
668/668 [==============================] - 0s 114us/step - loss: 0.5750 - accuracy: 0.7036
Epoch 78/100
668/668 [==============================] - 0s 132us/step - loss: 0.5755 - accuracy: 0.6916
Epoch 79/100
668/668 [==============================] - 0s 145us/step - loss: 0.5745 - accuracy: 0.6976
Epoch 80/100
668/668 [==============================] - 0s 119us/step - loss: 0.5741 - accuracy: 0.7066
Epoch 81/100
668/668 [==============================] - 0s 121us/step - loss: 0.5739 - accuracy: 0.7036
Epoch 82/100
668/668 [==============================] - 0s 117us/step - loss: 0.5739 - accuracy: 0.7051
Epoch 83/100
668/668 [==============================] - 0s 119us/step - loss: 0.5737 - accuracy: 0.7036
Epoch 84/100
668/668 [==============================] - 0s 121us/step - loss: 0.5754 - accuracy: 0.6916
Epoch 85/100
668/668 [==============================] - 0s 119us/step - loss: 0.5754 - accuracy: 0.7096
Epoch 86/100
668/668 [==============================] - 0s 120us/step - loss: 0.5743 - accuracy: 0.6916
Epoch 87/100
668/668 [==============================] - 0s 119us/step - loss: 0.5746 - accuracy: 0.7066
Epoch 88/100
668/668 [==============================] - 0s 119us/step - loss: 0.5746 - accuracy: 0.7096
Epoch 89/100
668/668 [==============================] - 0s 118us/step - loss: 0.5737 - accuracy: 0.7096
Epoch 90/100
668/668 [==============================] - 0s 119us/step - loss: 0.5746 - accuracy: 0.7081
Epoch 91/100
668/668 [==============================] - 0s 125us/step - loss: 0.5740 - accuracy: 0.7006
Epoch 92/100
668/668 [==============================] - 0s 118us/step - loss: 0.5743 - accuracy: 0.7066
Epoch 93/100
668/668 [==============================] - 0s 125us/step - loss: 0.5737 - accuracy: 0.7111
Epoch 94/100
668/668 [==============================] - 0s 120us/step - loss: 0.5741 - accuracy: 0.7126
Epoch 95/100
668/668 [==============================] - 0s 121us/step - loss: 0.5741 - accuracy: 0.6991
Epoch 96/100
668/668 [==============================] - 0s 124us/step - loss: 0.5729 - accuracy: 0.7111
Epoch 97/100
668/668 [==============================] - 0s 120us/step - loss: 0.5735 - accuracy: 0.6946
Epoch 98/100
668/668 [==============================] - 0s 119us/step - loss: 0.5729 - accuracy: 0.7081
Epoch 99/100
668/668 [==============================] - 0s 128us/step - loss: 0.5718 - accuracy: 0.7051
Epoch 100/100
668/668 [==============================] - 0s 119us/step - loss: 0.5740 - accuracy: 0.7021

**예측**

In [17]:
pred = model.predict(X_val)
pred[0:5]

array([[0.22093228],
       [0.26516956],
       [0.3525183 ],
       [0.22093228],
       [0.38087678]], dtype=float32)

In [18]:
np.max(pred), np.min(pred)

(0.936411, 0.0013149083)

### **답안지 작성**

In [19]:
sub = pd.read_csv('gender_submission.csv')
sub.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [32]:
sub['Survived'] = pred[:,0] > 0.5
sub

     PassengerId  Survived
0            892     False
1            893     False
2            894     False
3            895     False
4            896     False
..           ...       ...
413         1305     False
414         1306      True
415         1307     False
416         1308     False
417         1309     False

[418 rows x 2 columns]

In [47]:
sub.Survived = sub.Survived.astype('int')
sub

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [0]:
sub.to_csv('titanic_sub_200529.csv', index=False)