## (1) LabelEncoder, OneHotEncoder 실습

In [1]:
import pandas as pd
data = {'eng' : ['b','c','a','d']}
df = pd.DataFrame(data)
df

  eng
0   b
1   c
2   a
3   d

In [2]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [4]:
df.values[0]

array(['b'], dtype=object)

### LabelEncoding

In [6]:
encoder_x = LabelEncoder()
df['lbl_encoder'] = encoder_x.fit_transform(df['eng'])
df

  eng  lbl_encoder
0   b            1
1   c            2
2   a            0
3   d            3

### OneHotEncoding

In [24]:
val = df.lbl_encoder.values.reshape(-1,1)
onehot = OneHotEncoder()
result_val = onehot.fit_transform(val).toarray()

C:\Users\Seoul IT\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [28]:
pd_val = pd.DataFrame(result_val, dtype=int)
pd_val

   0  1  2  3
0  0  1  0  0
1  0  0  1  0
2  1  0  0  0
3  0  0  0  1

In [29]:
result = pd.concat([df, pd_val], axis=1)
result

  eng  lbl_encoder  0  1  2  3
0   b            1  0  1  0  0
1   c            2  0  0  1  0
2   a            0  1  0  0  0
3   d            3  0  0  0  1

## (2) OneHotEncoding, LabelEncoding 실습2

In [15]:
data = {'companyName' : ['MS','Apple','Google','Google']}
df1 = pd.DataFrame(data)
df2 = df1.copy()
df2

  companyName
0          MS
1       Apple
2      Google
3      Google

### LabelEncoding

In [16]:
encoder_x = LabelEncoder()
df2['lbl_en'] = encoder_x.fit_transform(df2['companyName'])
df2

  companyName  lbl_en
0          MS       2
1       Apple       0
2      Google       1
3      Google       1

### OneHotEncoding

In [17]:
df2.lbl_en.shape   # 2차원으로 변경해줘야함 >> reshape

(4,)

In [23]:
df2.lbl_en

0    2
1    0
2    1
3    1
Name: lbl_en, dtype: int32

In [18]:
new_val = df2.lbl_en.values
new_val = new_val.reshape(-1,1)   # reshape(-1,1): 열을 1로 고정하고 행을 알아서 맞춰줌

onehot = OneHotEncoder()
result_val = onehot.fit_transform(new_val).toarray()
result_val

C:\Users\Seoul IT\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [21]:
new_val

array([[2],
       [0],
       [1],
       [1]])

In [19]:
pd_dat = pd.DataFrame(result_val, dtype=int)
pd_dat

   0  1  2
0  0  0  1
1  1  0  0
2  0  1  0
3  0  1  0

In [20]:
all_df = pd.concat([df2, pd_dat], axis=1)   
# axis=0 : 아래로 붙여줌. rbind
# axis=1 : 옆으로 붙여줌. cbind

all_df

  companyName  lbl_en  0  1  2
0          MS       2  0  0  1
1       Apple       0  1  0  0
2      Google       1  0  1  0
3      Google       1  0  1  0