In [1]:
pip install mglearn

Collecting mglearn
  Downloading https://files.pythonhosted.org/packages/ab/68/671b1cc3f0825d0bd568a57f5e870ed02497208d903fe2cbe1e636c85fbc/mglearn-0.1.8.tar.gz (540kB)
     |████████████████████████████████| 542kB 4.9MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from mglearn) (1.18.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from mglearn) (3.2.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from mglearn) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from mglearn) (1.0.3)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from mglearn) (7.0.0)
Requirement already satisfied: cycler in /usr/local/lib/python3.6/dist-packages (from mglearn) (0.10.0)
Requirement already satisfied: imageio in /usr/local/lib/python3.6/dist-packages (from mglearn) (2.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mglearn) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mglearn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mglearn) (2.8.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->mglearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->mglearn) (0.15.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->mglearn) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler->mglearn) (1.12.0)
Building wheels for collected packages: mglearn
  Building wheel for mglearn (setup.py) ... done
  Created wheel for mglearn: filename=mglearn-0.1.8-py2.py3-none-any.whl size=582647 sha256=5682cf0954aaf8d159f4e3eafcea470393f2db28c95e317148132261e681e14c
  Stored in directory: /root/.cache/pip/wheels/47/b8/58/ce0c4be41f4efbfb8773eb72782164dbb758685d12ef2732f5
Successfully built mglearn
Installing collected packages: mglearn
Successfully installed mglearn-0.1.8

In [2]:
import os
import mglearn
import pandas as pd

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [3]:
path = mglearn.datasets.DATA_PATH
path

'/usr/local/lib/python3.6/dist-packages/mglearn/data'

In [4]:
os.path.join(path, 'adult.data')

'/usr/local/lib/python3.6/dist-packages/mglearn/data/adult.data'

In [5]:
print(os.getcwd)   # 현재 시스템 경로

<built-in function getcwd>

01. path를 지정 (adult.data)
02. pandas를 이용해서 불러오기 (header=None, index_col=False, names='컬럼지정')

In [0]:
path = os.path.join(mglearn.datasets.DATA_PATH, 'adult.data')
data = pd.read_csv(path, header=None, index_col=False,
                   names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                          'marital-status', 'occupation', 'relationship', 'race', 'gender',
                          'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income'])

In [9]:
# 일부 특성을 선택
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [11]:
sel = ['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']
data = data[sel]
data.head()

   age          workclass  ...          occupation  income
0   39          State-gov  ...        Adm-clerical   <=50K
1   50   Self-emp-not-inc  ...     Exec-managerial   <=50K
2   38            Private  ...   Handlers-cleaners   <=50K
3   53            Private  ...   Handlers-cleaners   <=50K
4   28            Private  ...      Prof-specialty   <=50K

[5 rows x 7 columns]

**OneHotEncoding**
* pandas의 get_dummies 함수 이용

In [13]:
data.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [0]:
pd.set_option('display.max_columns',150)   # 중간에 생략되지 않게 해주는 옵션

In [16]:
data_dummies = pd.get_dummies(data)
data_dummies.head()

,age,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,education_ 11th,education_ 12th,education_ 1st-4th,education_ 5th-6th,education_ 7th-8th,education_ 9th,education_ Assoc-acdm,education_ Assoc-voc,education_ Bachelors,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,gender_ Female,gender_ Male,occupation_ ?,occupation_ Adm-clerical,occupation_ Armed-Forces,occupation_ Craft-repair,occupation_ Exec-managerial,occupation_ Farming-fishing,occupation_ Handlers-cleaners,occupation_ Machine-op-inspct,occupation_ Other-service,occupation_ Priv-house-serv,occupation_ Prof-specialty,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,income_ <=50K,income_ >50K
0,39,40,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,50,13,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
2,38,40,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,53,40,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
4,28,40,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0

**입력변수 'age' ~ 'occupation_ Transport-moving' 이용해서 'income_ >50K'인지 아닌지 예측하는 모델 만들기**

In [18]:
features = data_dummies.loc[:, 'age':'occupation_ Transport-moving']
X = features.values
y = data_dummies['income_ >50K'].values

print(type(X), type(y))
print(X.shape, y.shape)

<class 'numpy.ndarray'> <class 'numpy.ndarray'>
(32561, 44) (32561,)

In [19]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 44 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            32561 non-null  int64
 1   hours-per-week                 32561 non-null  int64
 2   workclass_ ?                   32561 non-null  uint8
 3   workclass_ Federal-gov         32561 non-null  uint8
 4   workclass_ Local-gov           32561 non-null  uint8
 5   workclass_ Never-worked        32561 non-null  uint8
 6   workclass_ Private             32561 non-null  uint8
 7   workclass_ Self-emp-inc        32561 non-null  uint8
 8   workclass_ Self-emp-not-inc    32561 non-null  uint8
 9   workclass_ State-gov           32561 non-null  uint8
 10  workclass_ Without-pay         32561 non-null  uint8
 11  education_ 10th                32561 non-null  uint8
 12  education_ 11th                32561 non-null  uint8
 13  education_ 12th                32561 non-null  uint8
 14  education_ 1st-4th             32561 non-null  uint8
 15  education_ 5th-6th             32561 non-null  uint8
 16  education_ 7th-8th             32561 non-null  uint8
 17  education_ 9th                 32561 non-null  uint8
 18  education_ Assoc-acdm          32561 non-null  uint8
 19  education_ Assoc-voc           32561 non-null  uint8
 20  education_ Bachelors           32561 non-null  uint8
 21  education_ Doctorate           32561 non-null  uint8
 22  education_ HS-grad             32561 non-null  uint8
 23  education_ Masters             32561 non-null  uint8
 24  education_ Preschool           32561 non-null  uint8
 25  education_ Prof-school         32561 non-null  uint8
 26  education_ Some-college        32561 non-null  uint8
 27  gender_ Female                 32561 non-null  uint8
 28  gender_ Male                   32561 non-null  uint8
 29  occupation_ ?                  32561 non-null  uint8
 30  occupation_ Adm-clerical       32561 non-null  uint8
 31  occupation_ Armed-Forces       32561 non-null  uint8
 32  occupation_ Craft-repair       32561 non-null  uint8
 33  occupation_ Exec-managerial    32561 non-null  uint8
 34  occupation_ Farming-fishing    32561 non-null  uint8
 35  occupation_ Handlers-cleaners  32561 non-null  uint8
 36  occupation_ Machine-op-inspct  32561 non-null  uint8
 37  occupation_ Other-service      32561 non-null  uint8
 38  occupation_ Priv-house-serv    32561 non-null  uint8
 39  occupation_ Prof-specialty     32561 non-null  uint8
 40  occupation_ Protective-serv    32561 non-null  uint8
 41  occupation_ Sales              32561 non-null  uint8
 42  occupation_ Tech-support       32561 non-null  uint8
 43  occupation_ Transport-moving   32561 non-null  uint8
dtypes: int64(2), uint8(42)
memory usage: 1.8 MB

**로지스틱 모델**
* 데이터 나누기
* 모델 생성
* 모델 학습 (학습데이터 이용)
* score 확인 (테스트데이터 이용)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
logreg = LogisticRegression()                                      # 모델 생성
logreg.fit(X_train, y_train)                                       # 모델 학습
print('테스트 점수 {:.2f}' .format(logreg.score(X_test,y_test)))   # score 확인

테스트 점수 0.81

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

**[양말, 여우, 양말, 상자]를 OneHotEncoding 하기**

In [21]:
dat = {'물품' : ['양말','여우','양말','상자']}
demo_df = pd.DataFrame(dat)
demo_df

   물품
0  양말
1  여우
2  양말
3  상자

In [22]:
onehot = pd.get_dummies(demo_df)
onehot

   물품_상자  물품_양말  물품_여우
0      0      1      0
1      0      0      1
2      0      1      0
3      1      0      0

In [23]:
all_dat = pd.concat([demo_df, onehot], axis=1)
all_dat

   물품  물품_상자  물품_양말  물품_여우
0  양말      0      1      0
1  여우      0      0      1
2  양말      0      1      0
3  상자      1      0      0